.about {
    padding: 0px;
    padding-bottom: 20px;
    border: none;
  }
  
  @keyframes backgroundAnimation {
    from {
      background-color: #1890ff;
    }
    to {
      background-color: #898f97;
    }
    }

    .custom-card .ant-card-head {
        border-bottom: none;
    }