/* Accomplishments.css */
.accomplishment-image {
    max-width: 100%;
    max-height: 300px; /* Adjust the height as needed */
    object-fit: contain; /* Maintain aspect ratio */
  }

  .accomplishment {
    padding: 0px;
    padding-bottom: 20px;
  }
  
  @keyframes backgroundAnimation {
    from {
      background-color: #1890ff;
    }
    to {
      background-color: #898f97;
    }
    }
    .small-card{
      font-size: large;
    }
    .custom-card .ant-card-head {
        border-bottom: none;
        font-size: large;
    }
    

    @media screen and (max-width: 768px) {
      .accomplishment-image {
        max-height: 200px;
      }
    
      .accomplishment {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .small-card {
        font-size: medium;
      }
    
      .custom-card .ant-card-head {
        font-size: medium;
      }
    }