.projects {
    padding: 0px;
    padding-bottom: 20px;
    .custom-card{
        margin-bottom: 10px;
    }
  }
  
  @keyframes backgroundAnimation {
    from {
      background-color: #1890ff;
    }
    to {
      background-color: #898f97;
    }
    }


    .custom-card{
        margin-bottom: 10px;
        font-size: large;
    }

    .custom-row {
        margin-bottom: 10px;
    }

    @media screen and (max-width: 768px) {
      .custom-card {
        font-size: medium;
      }
    }